
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	font-size: 62.5%;
	font-size: 14px;
	background-color: rgb(202, 222, 228)
}

/* Navbar section */
.nav {
	width: 100%;
	height: 65px;
	position: fixed;
	line-height: 65px;
	z-index: 10;
}

.nav div.logo, .nav div.tituloCab {
	float: left;
	width: auto;
	height: auto;
}

.nav div.tituloCab a {
	text-decoration: none;
	color: #fff;
}

.nav div.tituloCab a h2{
	padding-top: 35px;
	padding-left: 8.6rem;
}

.nav div.logo img {
  height: 100px;
  position: absolute;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.resizeImg{
	height: 60px !important;
	padding-top: 5px;
}

.nav div.tituloCab a:hover {
	color: rgb(202, 222, 228);
}

.nav div.main_list {
	height: 65px;
	float: right;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding-top: 15px
}

.moveRight {
	padding-top: 0 !important;
	padding-right: 3.6rem;
}

.nav div.main_list ul {
	width: 100%;
	height: 65px;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav div.main_list ul li {
	width: auto;
	height: 65px;
	padding: 0;
	padding-right: 2.1rem;
}

.nav div.main_list ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 65px;
	font-size: 1.3rem;
}

.nav div.main_list ul li a:hover {
	color: rgb(151, 212, 231);
}

/* Home section */
.home {
	width: 100%;
	height: 40vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/rf/application/assets/img/sea-salou2-banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
	background-position: center top;
}

.navTrigger {
	display: none;
}

.nav {
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

/* Media query section */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
	.container {
		margin: 0;
	}
}

@media screen and (max-width:1000px) {
	.moveRight {
		padding-top: 0 !important;
		padding-right: 0 !important;
	}

	.navTrigger {
		display: block;
	}

	.nav div.logo {
		float: left;
		width: auto;
		height: auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
	}

	.nav div.main_list {
		width: 100%;
		height: 0;
		overflow: hidden;

	}

	.nav div.show_list {
		height: auto;
		display: none;
	}

	.nav div.main_list ul {
		flex-direction: column;
		width: 100%;
		height: auto;
		background-color: rgb(0, 0, 0, 0.8);
		z-index: 1;
		background-position: center;
		margin-top: 2rem;
		-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
	}

	.marginTopMenu {
		margin-top: 10rem !important;
	}

	.nav div.main_list ul li {
		width: 100%;
		text-align: center;
	}

	.nav div.main_list ul li a {
		text-align: center;
		width: 100%;
		font-size: 1.3rem;
		padding: 20px;
	}

	.nav div.media_button {
		display: block;
	}
}

/* Animation */
.navTrigger {
	cursor: pointer;
	width: 30px;
	height: 25px;
	margin: auto;
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
}

.navTrigger i {
	background-color: #fff;
	border-radius: 2px;
	content: '';
	display: block;
	width: 100%;
	height: 4px;
}

.navTrigger i:nth-child(1) {
	-webkit-animation: outT 0.8s backwards;
	animation: outT 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
	margin: 5px 0;
	-webkit-animation: outM 0.8s backwards;
	animation: outM 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
	-webkit-animation: outBtm 0.8s backwards;
	animation: outBtm 0.8s backwards;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
	-webkit-animation: inT 0.8s forwards;
	animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
	-webkit-animation: inM 0.8s forwards;
	animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
	-webkit-animation: inBtm 0.8s forwards;
	animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}


.affix {
	padding: 0;
	background-color: rgb(17, 17, 17, 0.75);
}

.myH2 {
	text-align: center;
	font-size: 4rem;
}

.myP {
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20px;
}

@media all and (max-width:700px) {
	.myP {
		padding: 2%;
	}
}

#formFechas {
	width:100%;
	animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-webkit-transition: fadein 1.5s;
	transition: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/* FORM CSS */
.formBox{
	margin-top: 90px;
	padding: 50px;
}
.formBox  h1{
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 48px;
}
.inputBox{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.inputBox .inputText{
	position: absolute;
	color: #000;
    font-size: 18px;
    /*line-height: 50px;*/
    transition: .5s;
    opacity: .8;
}
.inputBox .input{
	position: relative;
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
    outline: none;
    font-size: 14px;
		color: #000;
    border-bottom: 1px solid rgba(0,0,0,.5);

}
.focus .inputText{
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: #000;

}
textarea{
	height: 100px !important;
}
.button{
	width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: #000;
}
.btn-buscar{
	margin-top:65px;
	border: 1px solid;
	font-size: 16px;
}
.btn-buscar:hover{
	color:#d5d5d5;
	background-color: #000;
}

@media screen and (max-width: 700px) {
	#mapa {
		width: 350px;
		height: 300px;
	}
	.imgSlide{
		width: 350px !important;
		height: 218px !important;
	}
	.textoLoc{
		width: 80% !important;
	}
}
